/*-- CSS Reset --*/
* {
  padding: 0;
  margin: 0;
  font-size: 102%;
  font-weight: normal;
  line-height: 1em;
}


/*-- Main structural styling--*/

body {
  width: 100%;
  background: #000000;
  color: #CC1100; /*--text color in first panel---*/
  font-family: itc-avant-garde-gothic-pro, sans-serif;

}

section , header {
  width: : 80%;
  max-width: 700px;
  margin: auto;
}

section {
  margin-top: -1rem;
}

/*--colored panels--*/
  .light {
    background: #f7f7f7;
    padding: 3em 0;
  }

  .dark {
    background: #000000;
    padding: 3em 0;
  }

  .header {
    background: #000000;
    padding: 3em 0;
  }

  .header h2 {
    color: #f7f7f7;
    text-align: center;
    font-size: 2em;
  }

  .img-banner {
    margin-top: -1.6rem;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

.dark p
{
  color: #f7f7f7;   /*---text color within dark area---*/
}


.light h2 {
  color: #000000; /*---heading colour within light section---*/
}

.light p {
  color: #000000;   /*---text color within light area---*/
}

.dark h2 {
  color: #f7f7f7; /*---heading colour within dark section---*/
}

.light blockquote {
  color: #CC1100;
  font-size: 2.1rem;
  font-style: italic;
  hanging-punctuation: first;
  text-indent: -0.75rem;
  padding-top: 1em;
}

.light figcaption {
  color: #942911;
  font-size: 1em;
  opacity: 80%;
  text-align: right;
  padding-bottom: 4em;
}

.gridimage {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  padding-top: 0.5em;
}

.collection {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.office {
 margin-bottom: -60px;
}
/*---tyling typography---*/

p, blockquote, h1 {
  margin-bottom: 1.5rem;
  line-height: 1.4;
}


h1 {
  color: #cc1100;
  font-size: 5.653rem;
  text-align: center;
  padding-top: .5em;
  line-height: 1.25em;
}

h2 {
  font-size:1.999rem;
  margin:3em 0 1em 0;
}


/*-- styling links --*/
a {
  color: #f7f7f7;
  text-decoration: none;
}

a:hover {
  color: #fc8ebf;
  border-bottom: 2px dotted;
}

/*----boxes for links---*/
a:link, a:visited {
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
}


nav {     /*--banner behind the links at very top---*/
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #000000;
  padding: 2em 0;
  font-size: 0.75rem;
  opacity: 50%;
}


nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li {
  display: inline;
  margin: 20px;
  color: #f7f7f7;
}

nav a {
  color: #333333;
}

nav a:hover {
  border-bottom: none;
  color: #fc8ebf;
  transition: all 0.3s ease-in-out
}


footer {
  text-align: center;
  font-size: 0.8rem;
  margin:6em 0 3em 0;
  color: #f7f7f7;
  margin-bottom: 1;
}

  img {
    display: block;
    margin: 4em 0;
    max-width: 100%;
    border-radius: 10px;
  }





@media only screen and (max-width: 1112px) {

  body {


  }

  h1 {
  font-size: 4rem;

  }

  .img-banner {
  margin-top: 0.8rem;
  }

  nav ul {
    display: flex;
  }

}

@media only screen and (max-width: 1024px) {
  body {
margin-left: 30%;
margin-right:30%;
vertical-align: middle;
  }
h1 {
  font-size: 4rem;

  }
.img-banner {
  margin-top: 1.55rem;
  }
nav ul {
    display: flex;
  }

}

@media only screen and (max-width: 800px) {

body {
  margin-left: 30%;
  margin-right:30%;
  vertical-align: middle;
  }
h1 {
  font-size: 4rem;

  }
.img-banner {
  margin-top: 1.5rem;
  }

  nav ul {
    display: flex;
  }

}
